@import "tailwindcss";

@theme {
  --color-biscuit-coral: #ff7a70;
  --color-biscuit-yellow: #ffd166;
  --color-biscuit-pink: #fd5c9a;
  --color-biscuit-mint: #01d2cf;
  --color-biscuit-cream: #fdf1e7;
  --color-biscuit-dark: #090b2f;
  --color-biscuit-purple: #9b5de5;
}

:root {
  --font-sans: var(--font-jakarta);
  --font-display: var(--font-fredoka);
}

body {
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-fredoka);
}
